extends base.pug 

block scripts
   script(scr="../static/index.js")

block style 
   style 
       include ../static/style.css 
       include ../static/stylecontact.css
       include ../static/styleabout.css

block content
    <nav class="navbar" id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/logo.jpg" alt="">
                <h4>MDA</h4>
            </div>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/Contact">Contact Us</a></li>
            
        </ul>
    </nav>
    <div class="container">
        <ul>
            <h2>error</h2>
            <h1>About Us</h1>
            
                <li>100 Dance Treasures
                    This website contains more than 100 essays, photos, and videos of dancers, choreographers, dance styles and important performance venues. Essays are by reputable scholars and are appropriate for research in school</li>
                <li>Dance.com
                    Dance.com is the world’s first multi-platform, digital media company to celebrate the entire universe of dance: from dancing pop icons to funny wedding dance videos to televised dance competitions with audiences in the tens of millions.</li>
                <li>Dance USA
                    Established in 1982 as the national service organization for the professional dance field, Dance/USA is a membership organization currently serving nearly 500 aerial, ballet, contemporary, modern, culturally specific, jazz, and tap companies, dance service and presenting organizations, individuals, and related organizations</li>
                <li>National Museum of Dance
                    The National Museum of Dance & Hall of Fame was established in 1986 as the only museum in the nation and one of the few in the world that is dedicated entirely to the art of dance. The Museum is located in the former Washington Bathhouse, a historic building in the Saratoga Spa State Park. The Museum's archives house a growing collection of photographs, videos, costumes, documents, biographies and artifacts that honor all forms of dance throughout history. Available to the public is a Resource Room, which offers thousands of books, periodicals, and print items for dance research. Throughout the building's many galleries are a variety of yearly rotating exhibits and three permanent exhibits including the Mr. and Mrs. Cornelius Vanderbilt Whitney Hall of Fame. Opened in 1987, it honors dance pioneers of all types whether they are choreographers, composers, writers, dancers, or patrons</li>
                <li>Accelerated Motion
                   
                    Dance Time
                    Not authoritative, trying to sell something.
                    Dance Poise
                    Not authoritative, no authors or citations.
                    History of Social Dance
                    Too basic. Not authoritative.
                    Dance History
                    Trying to sell something.
                    Dance Facts
                    No known authors or citations</p>
                <li>Contemporary Dance Directory
                    This directory is exclusively dedicated to contemporary dance companies and choreographers world wide.</p>
            







        </ul>
    </div>
    <footer id="footer">
        <h4>mohitdanceacademy.com</h4>
    </footer>


