extends base.pug 

block scripts
   script(scr="../static/index.js")

block style 
   style 
       include ../static/style.css 

block content
    <nav class="navbar" id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/logo.jpg" alt="">
                <h4>MDA</h4>
            </div>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/Contact">Contact Us</a></li>
            
        </ul>
    </nav>
    <section id="intro">
        <div id="one">
            error Mohit Dance Academy
        </div>
        <div id="two">
            error Take more chances, dance more dance.
        </div>
        <button id="btn">
           <a href="/Join">Join Now</a>
        </button>
        
    
    
    </section>
    <section id="mission">
        <h1>Our Mission</h1>
        <div class="card">
            <h2>Dance perfection</h2>
            <img src="../static/bg1.jpg" alt="">
        </div>
        <div class="card">
            <h2>Dance the way you like</h2>
            <img src="../static/bg2.jpg" alt="">
        </div>
        <div class="card">
            <h2>Expert teaching</h2>
            <img src="../static/bg3.jpg" alt="">
        </div>
    </section>
    <section id="suponsor">
        <h1>Our Sponsor</h1>
        <div>
            <img src="../static/sp.jpg" alt="">
            <img src="../static/sp1.jpg" alt="">
            
        </div>
    </section>
    <footer id="footer">
        <h4>mohitdanceacademy.com</h4>
    </footer>